In [1]:
# Create a program that reads a text file containing a list of names and addresses, and then organizes the information into a dictionary.
# Begin by creating a function called "parse_file" that takes in a file path as an argument.
# Use the open() function to open the file and read its contents into a variable called "file_contents".
# Split the contents of the file by newline characters to create a list of strings, where each string represents a line from the file.
# Iterate through the list of strings and split each line by commas to create a list of lists, where each sublist represents the name and address of a person.
# Create an empty dictionary called "address_book".
# Iterate through the list of lists and use the first element of each sublist as the key, and the second element as the value, and add them to the "address_book" dictionary.
# Return the "address_book" dictionary.
# Test the function by calling it with the file path of a sample file and print the returned dictionary to the console.
# Example file contents(you can add more on your own):
# John Smith, 123 Main Street, Anytown USA
# Jane Doe, 456 Park Avenue, Anytown USA
# Bob Johnson, 789 Elm Street, Anytown USA
# Example output:
# {'John Smith': '123 Main Street, Anytown USA', 'Jane Doe': '456 Park Avenue, Anytown USA', 'Bob Johnson': '789 Elm Street, Anytown USA'} (edited)

In [2]:
#Use the open() function to open the file and read its contents into a variable called "file_contents".
file_contents=open("Location.txt","r")

In [ ]:
with open("Location.txt", 'r') as file_contents:
    for line in file_contents:
        data = line.split("\n")
        print(data)

In [129]:
#Use the open() function to open the file and read its contents into a variable called "file_contents".


def parse_file():
    with open("Location.txt", 'r') as file_contents:
        file_list=[]
        for string in file_contents.read().splitlines():# Split the contents of the file by newline characters to create a list of strings, where each string represents a line from the file.
            file_list.append([string])
    
    a=file_list[0][0][:10]
    b=file_list[0][0][12:]
    c=file_list[1][0][:9]
    d=file_list[1][0][10:]
    e=file_list[2][0][:11]
    f=file_list[2][0][13:]
    g=file_list[3][0][:15]
    h=file_list[3][0][17:]
    i=file_list[4][0][:15]
    j=file_list[4][0][17:]
    
    address_books={}
    address_books[a]=b
    address_books[c]=d
    address_books[e]=f
    address_books[g]=h
    address_books[i]=j
    
    print(address_books)

In [130]:
parse_file()

{'John Smith': '123 Main Street Anytown USA', 'Jane Doe,': '456 Park Avenue Anytown USA', 'Bob Johnson': '789 Elm Street Anytown USA', 'Mugambi Murithi': 'Chuna D112 Nairobi KE', 'Kimathi Murithi': 'Chuna D112 Nairobi KE'}

In [133]:
file_list[0]

['John Smith, 123 Main Street Anytown USA']

In [89]:
file_list[0][0]

'John Smith, 123 Main Street Anytown USA'

In [122]:
file_list[4][0][17:]

'Chuna D112 Nairobi KE'

In [92]:
file_list[0][0][0]

'J'

In [103]:
k=file_list[0][0][:10]
print(k)

John Smith

In [ ]:
k

In [106]:
d=file_list[0][0][12:]
print(d)

123 Main Street Anytown USA

In [107]:
some_dict={}
some_dict[k]=d

In [108]:
print(some_dict)

{'John Smith': '123 Main Street Anytown USA'}

In [91]:
file_list[0][0].index("John Smith")

0

In [104]:
list1 = [[10,13,17],[3,5,1],[13,11,12]]
list1[0][2]

17

In [136]:
#take a value (say 50) and look just at the first sublist in List1, and subtract 10 (the first value), then add 13, then subtract 17?
List1 = [[10,-13,17],[3,5,1],[13,11,12]]

num = 50
for i in List1[0]:
    num =num-i
print(num)

36

In [137]:
50 - list1[0][0] + list1[0][1] - list1[0][2]

36

In [105]:
for i in range(len(list1)):
    for j in range(len(list1[i])):
        print(list1[i][j])

10
13
17
3
5
1
13
11
12

In [132]:
my_list = [['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h', 'i']]

for x in my_list:
    for y in x:
        print(y)

a
b
c
d
e
f
g
h
i
i